@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h1>Stylist selection:</h1>

@* <div class="index" id="home">
  @if (@Model.StylistList.Count == 0)
  {
    <h3>No stylists are available at the moment, please try again later.</h3>
  } 

  <ul>
    @foreach(Stylist stylist in Model.StylistList)
    {
      <li>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</li>
    }
  </ul> *@

  @* <p>@Html.ActionLink("Add a new stylist", "Add")</p> *@
  <p>@Html.ActionLink("Back to Main Page", "Index", "Home")</p>
</div>